---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';

import FullScreen from './FullScreen.astro';
import Arrows from './Arrows.astro'

interface Props {
	entry: CollectionEntry<'comics'>
}

const { entry } = Astro.props;
const comicURLBase = "https://gaboose.github.io/nlh#";

const entries = (await getCollection('comics')).filter((e) => !e.data.hidden);
const i = entries.findIndex(function(e) {return entry.slug == e.slug});
const prevSlug = i > 0 ? entries.at(i-1)?.slug : undefined;
const nextSlug = i != -1 ? entries.at(i+1)?.slug : undefined;

---
<div class="snug">
    <div style="display: flex">
        <h1>{entry.data.title}</h1>
        <Arrows prevSlug={prevSlug} nextSlug={nextSlug} />
    </div>
    <div class="ontop fullscreen">
        <iframe style="background-color: black; border: 0;" title={entry.data.alt} src={comicURLBase + entry.slug} width="640" height="480"></iframe>
        <FullScreen />
    </div>
</div>
